*.swp
*.todo
*.o
*.o.d
*.a
*.so
.*.swp

*.bak

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*BACKUP*
*.orig
*.netrwhist
*.netrwhist~
.netrwhist

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

bin/*

zsh/cache
zshrc.local.post
zshrc.local.pre

hosts
davmail.properties

config/mpdnotify/log
config/mpdnotify/pid
python/tweet-poc/log
python/tweet-poc/log/*
config/mpv/watch_later
config/mpv/watch_later/*
tools/terraform
