[submodule "vim/general/fugitive"]
	path = vim/general/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/general/snipmate"]
	path = vim/general/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/general/surround"]
	path = vim/general/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/general/supertab"]
	path = vim/general/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/general/command-t"]
	path = vim/general/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/general/ack"]
	path = vim/general/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/general/gundo"]
	path = vim/general/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/python/pydoc"]
	path = vim/python/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/python/pep8"]
	path = vim/python/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/python/py.test"]
	path = vim/python/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim/general/makegreen"]
	path = vim/general/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "vim/general/tasklist"]
	path = vim/general/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/general/nerdtree"]
	path = vim/general/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/general/deletetrailingwhitespace"]
	path = vim/general/deletetrailingwhitespace
	url = https://github.com/vim-scripts/DeleteTrailingWhitespace.git
[submodule "vim/general/vim-profiles"]
	path = vim/general/vim-profiles
	url = https://github.com/mirlord/vim-profiles.git
[submodule "vim/general/sensible"]
	path = vim/general/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/general/sleuth"]
	path = vim/general/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/lib/ingo-library"]
	path = vim/lib/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "vim/general/writebackup"]
	path = vim/general/writebackup
	url = https://github.com/vim-scripts/writebackup.git
[submodule "vim/general/writebackupVersionControl"]
	path = vim/general/writebackupVersionControl
	url = https://github.com/vim-scripts/writebackupVersionControl.git
[submodule "vim/general/writebackupAutomator"]
	path = vim/general/writebackupAutomator
	url = https://github.com/vim-scripts/writebackupAutomator.git
[submodule "vim/general/visual-increment"]
	path = vim/general/visual-increment
	url = https://github.com/vim-scripts/visual-increment.git
[submodule "vim/python/python-mode"]
	path = vim/python/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/general/airline"]
	path = vim/general/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/coding/rainbow_parentheses"]
	path = vim/coding/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "colors/dircolors-solarized"]
	path = colors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "colors/gnome-terminal-colors-solarized"]
	path = colors/gnome-terminal-colors-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "colors/solarized-dark-gtk"]
	path = colors/solarized-dark-gtk
	url = https://github.com/jankotek/solarized-dark-gtk.git
[submodule "vim/coding/salt-vim"]
	path = vim/coding/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/general/gnupg"]
	path = vim/general/gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/syntax-highlighting"]
	path = zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/general/vinegar"]
	path = vim/general/vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "python/lastfm-tools"]
	path = python/lastfm-tools
	url = https://github.com/hugovk/lastfm-tools.git
[submodule "scripts/mpd-libnotify"]
	path = scripts/mpd-libnotify
	url = git@github.com:JustinHop/mpd-libnotify.git
[submodule "vim/general/puppet"]
	path = vim/general/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/coding/tabular"]
	path = vim/coding/tabular
	url = https://github.com/vim-scripts/Tabular.git
[submodule "vim/ruby/ruby"]
	path = vim/ruby/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/general/systemd"]
	path = vim/general/systemd
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
[submodule "python/docopts"]
	path = python/docopts
	url = https://github.com/docopt/docopts.git
[submodule "scripts/nir"]
	path = scripts/nir
	url = https://github.com/mrnetops/nir.git
[submodule "vim/general/csapprox"]
	path = vim/general/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/go/vim-go"]
	path = vim/go/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/general/terraform"]
	path = vim/general/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "tools/terraform"]
	path = tools/terraform
	url = https://github.com/hashicorp/terraform.git
[submodule "vim/coding/vim-hclfmt"]
	path = vim/coding/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt.git
[submodule "tools/mpdproxy"]
	path = tools/mpdproxy
	url = https://github.com/floriandejonckheere/mpdproxy.git
