#[submodule "obvious"]
#    path = awesome/obvious
#    url = git://git.mercenariesguild.net/obvious.git
#
[submodule "awesome/obvious"]
	path = awesome/obvious
	url = git://git.mercenariesguild.net/obvious.git
[submodule "lib/python-mpd"]
	path = lib/python-mpd
	url = http://git.thejat.be/python-mpd.git/
[submodule "vim/vcscommand"]
	path = vim/vcscommand
	url = git://repo.or.cz/vcscommand
