font = terminus 12
scroll_on_output = false
copy_on_selection = true
extreme_tabs = true
scrollbar_position = disabled
tab_position = bottom
emulation = xterm
use_theme_colors=False

enable_real_transparency = true
background_type = transparent
background_darkness = 0.80

[keybindings]
full_screen = <Ctrl><Shift>F11
go_right = <Shift><Alt>Right
go_left = <Shift><Alt>Left
next_tab =<Alt>Right
prev_tab = <Alt>Left
new_root_tab = <Shift><Ctrl>N

