[Unit]
Description=6M
After=awesome.service

[Service]
ExecStartPre=sleep 5s
ExecStart=%h/src/6m/6m.py tray

[Install]
WantedBy=graphical-session.target
