[Unit]
Description=6M
After=awesome.service

[Service]
Environment=SSH_AUTH_SOCK=%t/ssh-auth-socket
ExecStart=%h/src/6m/6m.py tray

[Install]
WantedBy=graphical-session.target
