[Unit]
Description=Highly configurable X window manager
PartOf=graphical-session.target
Wants=xdg-desktop-autostart.target

[Service]
Environment=PATH=/usr/lib/go-1.14/bin:%h/.chefdk/gem/ruby/2.1.0/bin:%h/android-sdk-linux/platform-tools:%h/android-sdk-linux/tools:%h/go/bin:/snap/bin:%h/perl5/bin:%h/bin:/usr/bin:%h/.local/bin:/usr/local/enctools/bin:%h/Profile/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/sbin:/bin:/usr/games:/usr/local/games:/usr/bin/wrappers:/usr/local/svn/bin:/usr/local/mysql/bin:/usr/local/postfix/bin:/usr/local/postfix/sbin:/usr/local/websites/php/bin:/usr/local/websites/apache/bin:/usr/local/websites/lame/bin:/usr/local/websites/ffmpeg/bin:%h/profile/bin:/usr/lib/xscreensaver:/usr/local/nagios/libexec:%h/.npm/bin:/usr/X11R6/bin:/usr/X11/bin
ExecStart=/bin/bash -c "while true ; do /usr/local/bin/awesome || echo restarting ; sleep 1s ; done"
Restart=always
RestartSec=10

[Install]
WantedBy=graphical-session.target
