[Unit]
Description=Highly configurable X window manager
Wants=xfsettingsd.service

[Service]
Type=simple
GuessMainPID=yes
ExecStart=/usr/bin/awesome
Restart=always
RestartSec=5

[Install]
WantedBy=wm.target
