[Unit]
Description=Bluetooth Manager
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
