[Unit]
Description=Bluetooth Scripts
Requires=awesome.service

[Service]
ExecStartPre=/bin/sleep 14
ExecStartPre=/usr/bin/sudo systemctl restart bluetooth.service
ExecStart=%h/Profile/bin/btspeaker.sh

[Install]
WantedBy=hopsession.target
