[Unit]
Description=Tray Calendar
Requires=xfsettingsd.service

[Service]
ExecStart=/opt/extras.ubuntu.com/calendar-indicator/bin/calendar-indicator
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
