[Unit]
Description=Cleandocker Script
Requires=awesome.service

[Service]
Type=oneshot
ExecStart=%h/Profile/bin/cleandocker.sh

[Install]
WantedBy=graphical-session.target
