[Unit]
Description=Cleandocker Script
#After=awesome.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=%h/Profile/bin/cleandocker.sh

[Install]
WantedBy=graphical-session.target
