[Unit]
Description=Clipboard Manager
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/clipit
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
