[Unit]
Description=Compton X Composition Manager
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/compton -D 5 --config %h/.config/compton.conf
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
