[Unit]
Description=Desktop Stats Display for X
Requires=xfsettingsd.service

[Service]
ExecStart=/home/justin/Profile/bin/conky
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
