[Unit]
Description=ECryptFS Manager
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/cryptkeeper
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
