[Unit]
Description=ECryptFS Manager
Wants=awesome.service
BindsTo=graphical-session.target

[Service]
Type=idle
ExecStart=/usr/bin/cryptkeeper

[Install]
WantedBy=hopsession.target
