[Unit]
Description=Gnome Clipboard Manager Client
Wants=gpasted.service
#After=awesome.service

[Service]
ExecStart=/usr/lib/gpaste/gpaste/gpaste-applet

[Install]
WantedBy=desktop.target
