[Unit]
Description=Gnome Clipboard Manager Daemon
#After=awesome.service

[Service]
ExecStart=/usr/libexec/gpaste/gpaste-daemon

[Install]
WantedBy=desktop.target
