[Unit]
Description=Set the background
After=awesome.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nitrogen --restore
ExecStartPre=sleep 5s
ExecStartPre=/usr/bin/nitrogen --restore
ExecStartPre=sleep 30s
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=hopsession.target
