[Unit]
Description=Network Manager Applet
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/nm-applet
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
