[Unit]
Description=Network Manager Applet
#After=awesome.service
PartOf=desktop.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=desktop.target
