[Unit]
Description=Network Manager Applet
After=awesome.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-session.target
