[Unit]
Description=Noisy Script
After=awesome.service

[Service]
WorkingDirectory=%h/src/noisy
ExecStart=%h/src/noisy/run.sh

[Install]
WantedBy=graphical-session.target
