[Unit]
Description=PulseAudio Manager
#Wants=awesome.service
#After=awesome.service
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
ExecStart=/usr/bin/padevchooser
Restart=always

[Install]
WantedBy=desktop.target
