[Unit]
Description=PulseAudio Manager
After=awesome.service
Requires=pulseaudio.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/padevchooser

[Install]
WantedBy=graphical-session.target
