[Unit]
Description=PulseAudio Manager
Requires=awesome.service
BindsTo=graphical-session.target

[Service]
ExecStart=/usr/bin/padevchooser

[Install]
WantedBy=hopsession.target
