[Unit]
Description=PulseAudio Tray Manager
After=awesome.service
Requires=pulseaudio.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/pasystray

[Install]
WantedBy=graphical-session.target
