[Unit]
Description=PulseAudio Tray Manager
After=awesome.service
After=pulseaudio.service
PartOf=graphical-session.target

[Service]
ExecStartPre=sleep 5s
ExecStart=/usr/bin/pasystray

[Install]
WantedBy=graphical-session.target
