[Unit]
Description=PulseAudio Tray Manager
#Wants=awesome.service
#After=awesome.service

[Service]
ExecStart=/usr/bin/pasystray
Restart=always

[Install]
WantedBy=desktop.target
