[Unit]
Description=Picom X Composition Manager
#After=awesome.service
PartOf=desktop.target

[Service]
ExecStart=/usr/bin/picom --config /dev/null --dbus
#ExecStart=/usr/bin/compton -D 5 --config %h/.config/compton.conf
#ExecStartPre=/bin/sleep 30
#ExecStart=/usr/bin/xcompmgr -C -n

[Install]
WantedBy=desktop.target
