[Unit]
Description=MPD Notifier
Requires=mpd.service
#After=awesome.service

[Service]
Type=idle
TimeStartSec=20
ExecStart=%h/Profile/bin/popup.py
Restart=always
RestartSec=5
