[Unit]
Description=MPD Notifier
Requires=xfsettingsd.service
Requires=mpd.service

[Service]
ExecStart="%h/Profile/bin/popup.py"
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
