[Unit]
Description=Revpn Script
#After=awesome.service

[Service]
#ExecStartPre=sleep 5s
ExecStart=%h/Profile/bin/revpn.sh

[Install]
WantedBy=desktop.target
