[Unit]
Description=Logitech Device Manager
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/solaar
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
