[Unit]
Description=Screen Wrapper
#After=awesome.service
#After=xfsettingsd.service
PartOf=graphical-session.target

[Service]
#ExecStartPre=sleep 5s
ExecStart=%h/src/taralli/taralli_w

[Install]
WantedBy=desktop.target
