[Unit]
Description=Window manager target
Wants=default.target
Wants=hopsession.target
Requires=dbus.socket
AllowIsolate=true

[Install]
Alias=default.target
