[Unit]
Description=Time Manager
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/workrave
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
