[Unit]
Description=Time Manager
Requires=awesome.service

[Service]
Type=idle
ExecStartPre=sleep 2s
ExecStart=/usr/bin/workrave
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
