[Unit]
Description=Power Manager for XFCE and X
Requires=xfsettingsd.service

[Service]
ExecStart=/usr/bin/xfce4-power-manager
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
