[Unit]
Description=Volume Manager for XFCE and X
#Wants=awesome.service
Wants=xfsettingsd.service

[Service]
ExecStart=/bin/bash -c "/usr/bin/xfce4-volumed --no-daemon > /dev/null 2>&1"
Restart=always
MemoryMax=50M
