[Unit]
Description=Volume Manager for XFCE and X
After=awesome.service
Requires=xfsettingsd.service
PartOf=graphical-session.target
#StandardOutput=null
#StandardError=null

[Service]
ExecStart=/usr/bin/xfce4-volumed --no-daemon
MemoryMax=50M

[Install]
WantedBy=graphical-session.target
