[Unit]
Description=X Settings Manager for XFCE
Before=awesome.service

[Service]
ExecStart=/usr/bin/xfsettingsd --no-daemon
Restart=always

[Install]
WantedBy=hopsession.target
