[Unit]
Description=Manual X Settings
PartOf=graphical-session.target
After=awesome.service

[Service]
Type=forking
ExecStart=%h/Profile/bin/xorg-settings.sh

[Install]
WantedBy=graphical-session.target
