[Unit]
Description=Manual X Settings
#Wants=awesome.service
#After=awesome.service

[Service]
Type=forking
ExecStart=%h/Profile/bin/xorg-settings.sh

[Install]
WantedBy=desktop.target
