[Unit]
Description=XScreenSaver
BindsTo=graphical-session.target

[Service]
ExecStart=xscreensaver -nosplash

[Install]
WantedBy=graphical-session.target
