[Unit]
Description=XScreenSaver
PartOf=graphical-session.target
Before=awesome.service

[Service]
ExecStart=xscreensaver -nosplash

[Install]
WantedBy=graphical-session.target
