[Unit]
Description=XScreenSaver
#Before=awesome.service

[Service]
ExecStart=xscreensaver -nosplash
Restart=on-failure

[Install]
WantedBy=desktop.target
