[Unit]
Description=Highly configurable X window manager
Wants=xfsettingsd.service

[Service]
TimeStartSec=1
ExecStart=/usr/bin/awesome
Restart=always

[Install]
WantedBy=hopsession.target
