[Unit]
Description=Tray Calendar
Wants=xfsettingsd.service
After=awesome.service

[Service]
Type=oneshot
TimeStartSec=10
ExecStart=/opt/extras.ubuntu.com/calendar-indicator/bin/calendar-indicator
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
