[Unit]
Description=Compton X Composition Manager
Wants=xfsettingsd.service
After=awesome.service

[Service]
TimeStartSec=5
ExecStart=/usr/bin/compton -D 5 --config %h/.config/compton.conf
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
