[Unit]
Description=Desktop Stats Display for X
Wants=xfsettingsd.service
After=awesome.service

[Service]
Type=idle
TimeStartSec=5
ExecStart=/home/justin/Profile/bin/conky
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
