[Unit]
Description=ECryptFS Manager
Wants=xfsettingsd.service
After=awesome.service

[Service]
Type=idle
TimeStartSec=2
ExecStart=/usr/bin/cryptkeeper
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
