[Unit]
Description=Shortcut Manager
Wants=xfsettingsd.service
After=awesome.service

[Service]
Type=idle
ExecStart=/usr/bin/keynav
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
