[Unit]
Description=Time Manager
Requires=xfsettingsd.service

[Service]
Type=idle
TimeStartSec=1
ExecStart=/usr/bin/workrave
Restart=always
RestartSec=5

[Install]
WantedBy=hopsession.target
