[Unit]
Description=Volume Manager for XFCE and X
Want=xfsettingsd.service awesome.service

[Service]
TimeStartSec=10
ExecStart=/usr/bin/xfce4-volumed
Restart=always

[Install]
WantedBy=hopsession.target
