[Unit]
Description=Flexget Daemon
After=network.target

[Service]
Type=simple
User=flexget
Group=flexget
UMask=000
WorkingDirectory=/home/flexget
Environment=VIRTUAL_ENV="/home/flexget/flexget"
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
ExecStart=/home/flexget/flexget/bin/python /home/flexget/flexget/bin/flexget --loglevel debug daemon start
ExecStop=/home/flexget/flexget/bin/python /home/flexget/flexget/bin/flexget daemon stop
ExecReload=/home/flexget/flexget/bin/python /home/flexget/flexget/bin/flexget --loglevel debug daemon reload
PrivateTmp=true

[Install]
WantedBy=multi-user.target
