
[Desktop Entry]
Encoding=UTF-8
Name=KNetworkManager
Name[bn]=কে-নেটওয়ার্ক-ম্যানেজার
Name[sv]=Knetworkmanager
GenericName=Network Manager
GenericName[bn]=নেটওয়ার্ক ম্যানেজার
GenericName[br]=Merour rouedad
GenericName[da]=Netværkshåndtering
GenericName[de]=Netzwerkverwaltung
GenericName[el]=Διαχειριστής δικτύου
GenericName[es]=Gestor de red
GenericName[et]=Võrguhaldur
GenericName[it]=Gestore di rete
GenericName[ja]=ネットワークマネージャ
GenericName[nl]=Netwerkbeheer
GenericName[pt]=Gestor de Redes
GenericName[sr]=Управник мреже
GenericName[sr@Latn]=Upravnik mreže
GenericName[sv]=Nätverksverktyg
GenericName[tr]=Ağ Yöneticisi
Exec=knetworkmanager
Icon=knetworkmanager
Type=Application
OnlyShowIn=KDE;
Comment=A KDE frontend for NetworkManager
Comment[bg]=Интерфейс за NetworkManager (KDE)
Comment[bn]=নেটওয়ার্ক-ম্যানেজারের জন্য একটি কেডিই ফ্রন্ট-এন্ড
Comment[ca]=Un frontal del KDE per al NetworkManager
Comment[da]=En KDE-grænseflade for Networkmanager
Comment[de]=Eine KDE-Oberfläche für NetworkManager
Comment[el]=Μια διασύνδεση περιβάλλοντος για το NetworkManager
Comment[es]=Una interfaz de KDE a NetworkManager
Comment[et]=KDE NetworkManageri kasutajaliides
Comment[it]=Un front-end di NetworkManager per KDE
Comment[ja]=NetworkManager の KDE フロントエンド
Comment[nl]=Een KDE-schil voor NetworkManager
Comment[pt]=Uma interface para KDE do NetworkManager
Comment[sr]=KDE програм за NetworkManager
Comment[sr@Latn]=KDE program za NetworkManager
Comment[sv]=Ett gränssnitt till Networkmanager för KDE
Comment[tr]=NetworkManager için bir KDE ön yüzü
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-DCOP-ServiceType=Unique
X-KDE-autostart-condition=knetworkmanagerrc:General:Autostart:true
Categories=Qt;KDE;Network;Applet;
Name[en_US]=KNetworkManager
Comment[en_US]=A KDE frontend for NetworkManager
X-GNOME-Autostart-enabled=false
