[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=mpdas
Comment=MPD Audioscrobbler
Exec=/usr/local/bin/mpdas
StartupNotify=false
Terminal=false
Hidden=false

