[Desktop Entry]
Encoding=UTF-8
Name=Tracker Applet
Name[ar]=بُريمج المُقتفي
Name[be@latin]=Aplet Trackera
Name[ca]=Miniaplicació Tracker
Name[de]=Tracker Applet
Name[en_US]=Tracker Applet
Name[es]=Miniaplicación Tracker
Name[fi]=Tracker-sovelma
Name[fr]=Applet Tracker
Name[hu]=Tracker kisalkalmazás
Name[it]=Applet Tracker
Name[ko]=트래커 애플릿
Name[oc]=Tracker
Name[pl]=Aplet Tracker
Name[pt]=Mini-aplicativo Tracker
Name[pt_BR]=Miniaplicativo Tracker
Name[sk]=Tracker applet
Name[sv]=Panelprogram för Tracker
Name[zh_CN]=Tracker 面板小程序
Comment=Control and monitor the Tracker search and indexing service
Comment[ar]=تحكّم وراقب خدمة بحث وفهرسة المُقتفي
Comment[be@latin]=Kiruj i naziraj za pracaj pasłuhi pošuku i indeksavańnia Trackera
Comment[ca]=Controla i fa un seguiment del servei de cerca i d'indexació Tracker
Comment[de]=Statusanzeige für Tracker Such- und Indizierungsdienst
Comment[en_US]=Control and monitor the Tracker search and indexing service
Comment[es]=Controle y monitorice el servicio de búsqueda e indexado Tracker
Comment[fi]=Hallitse ja seuraa haku- ja indeksointipalvelu Trackerin toimintaa
Comment[fr]=Contrôle et surveille le service de recherche et d'indexation Tracker
Comment[hu]=A Tracker kereső- és indexelő szolgáltatás vezérlése és megfigyelése
Comment[it]=Tiene sotto controllo il servizio di ricerca e indicizzazione di Tracker
Comment[ko]=트래커 찾기 및 인덱싱 서비스를 제어하고 감시합니다
Comment[pl]=Obsługa i monitorowanie usługi indeksowania i wyszukiwania Tracker
Comment[pt]=Controlo e monitorização dos serviços de procura e indexação Tracker
Comment[pt_BR]=Controla e monitora o serviço de pesquisa e indexação do Tracker
Comment[sk]=Ovládať a sledovať službu Tracker na hľadanie a indexovanie
Comment[sv]=Styr och övervaka sök- och indexeringstjänsten Tracker
Comment[zh_CN]=控制并监视 Tracker 搜索与索引编制服务
Icon=
Exec=tracker-applet
Terminal=false
Type=Application
Categories=
NoDisplay=true
OnlyShowIn=GNOME;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Applet
X-GNOME-Bugzilla-Version=0.6.6
X-GNOME-Autostart-enabled=false
X-Ubuntu-Gettext-Domain=tracker
Hidden=true

