[Desktop Entry]
Encoding=UTF-8
Name=Tracker
Name[ar]=المُقتفي
Name[be@latin]=Tracker
Name[ca]=Tracker
Name[de]=Tracker
Name[en_US]=Tracker
Name[es]=Tracker
Name[fi]=Tracker
Name[fr]=Tracker
Name[hu]=Tracker
Name[it]=Tracker
Name[ko]=트래커
Name[lt]=Tracker
Name[oc]=Tracker
Name[pl]=Tracker
Name[pt]=Tracker
Name[pt_BR]=Tracker
Name[sk]=Tracker
Name[sv]=Tracker
Name[zh_CN]=Tracker
Comment=Tracker search and indexing service
Comment[ar]=خدمة بحث وقهرسة المُقتفي
Comment[be@latin]=Pasłuha pošuku i indeksavańnia Trackera
Comment[ca]=Servei de cerca i d'indexació Tracker
Comment[de]=Tracker Such- und Indizierungsdienst
Comment[en_US]=Tracker search and indexing service
Comment[es]=Servicio de búsqueda e indexado Tracker
Comment[fi]=Haku- ja indeksointipalvelu
Comment[fr]=Service de recherche et d'indexation Tracker
Comment[hu]=Tracker kereső- és indexelő szolgáltatás
Comment[it]=Servizio di ricerca e indicizzazione di Tracker
Comment[ko]=트래커 찾기 및 인덱싱 서비스
Comment[lt]=Paieškos ir indeksavimo tarnyba Tracker
Comment[pl]=Usługa indeksowania i wyszukiwania Tracker
Comment[pt]=Serviço de procura e indexação Tracker
Comment[pt_BR]=Serviço de pesquisa e indexação do Tracker
Comment[ru]=Служба поиска и индексирования Tracker
Comment[sk]=Služba Tracker na hľadanie a indexovanie
Comment[sv]=Sök- och indexeringstjänsten Tracker
Comment[zh_CN]=Tracker 搜索与索引编制服务
Icon=
Exec=trackerd
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Indexer
X-GNOME-Bugzilla-Version=0.6.6
X-Ubuntu-Gettext-Domain=tracker
Hidden=true

